nav{
background-color: white;
display: flex;
justify-content: space-between;
}
.left-nav{
    display: flex;
}
.left-nav ul{
    width: 100%; 
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
nav li{
    height: 50px;
    display: flex;
    
}
nav a{
    height: 100%;
    display: flex;
    color: grey;
}
nav img{
    width: 60px;
    height: 50px;

}
.right-nav{
    display: flex;
    justify-content: flex-end;
    /* width: 200px; */
}
